
      
         body {
           background-color: pink;
           background-image:url('Images/Manifest.jpeg');
           background-repeat: no-repeat;
           background-size: contain;
         }
         p {
           color: orange;
         }
         h1, h2. h3, h4, h5 {
           font-size: 36px;
         }
         h3, h5 {
           text-align: center;
         }
         #cool-text {
           color: purple;
         }
         #list-text {
           color: green;
         }
         
  